body {
    font-family: sans-serif;
    background-color: #00000011;
    margin: 0;
    height: auto;
}

#app {
    background-color: #00000e24;
    margin: auto;
}

footer {
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

#title {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.test {
    background-color: rgba(255, 0, 0, 0.5);
    left: 0;
    top: 0;
    width: 100px;
    height: 100px;
    position: relative;
    z-index: 100;
}

#board {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    background-color: #10000e22;
}

#morebutton {
    background-color: #01e;
    width: 100px;
    height: 50px;
    border-radius: 20px;
    border: none;
}

#uploadForm {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 300px;
    width: 200px;
}

input {
    margin: 10px;
}

.card {
    margin-top: 20px;
    position: relative;
    height: auto;
    width: 300px;
    border-radius: 5px;
    box-shadow: 10px 2px rgba(0, 0, 0, 0.1);
    border: 1px solid black;
    margin-bottom: 20px;
    /* background-color: rgba(); */
}

.cardImg {
    width: 300px;
    height: 300px;
}
